.container{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.colorHead{
    text-align: center;
}
.btn{
    display: block;
    height: 3rem;
    width: 5rem;
    border: 3px solid #000000;
    background-color: aliceblue;
}