*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    background-color: darkgray;
}
.row{
    position: relative;
    height: 100%;
    background-color: aquamarine;
}

.col{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: darkgray;
    height: 12rem;
    width: 600px;
    padding: 2rem;
}

.quote{
    color: black;
    font-size: xx-large;
    font-family: "Comic Sans MS";
}
.textHead{
    display: block;
    font-size: x-large;
    font-family: "Comic Sans MS";
    margin-left: 2rem;
}
.quetBtn{
    float: right;
    font-size: 20px;
    margin-top: 10px;
}
.rndBtn{
    display: block;
    height: 3rem;
    width: 8rem;
    margin-top: 3rem;
    background-color: darkgrey;
    border: 1px solid #000;
}
